/* reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    padding-top: 80px;
    font-family: "Open Sans", sans-serif;
}
ul, ol, li, a{
    list-style: none;
    text-decoration: none;
}

/*temas de cores*/
/* Cor de fundo */

/* Tema Impulsi */
.bg-black-color{
    background-color: #090909;
}

.titulo-red-color{
    background-color: #ff3300;
}


.subtitul-laranja-color{
    background-color: #ff6600;
}


.bg-dark-color{
    background-color: #2E2E2E;
}

.bg-dark-elegant-color{
    background-color: #212121;
}

.bg-marrom-escuro{
    background-color:#1b1d1e;
} 

.bg-cinza-claro{
    background-color: #7a7a7a;
} 

.bg-cinza-morno{
    background-color: #5E6D70;
}

.bg-amarelo-claro{
    background-color: #F8EDDB;
}

.bg-whitesmoke{
    background-color: whitesmoke;
}

/* fonte */
.fonte-primary-color{
    color: #090909;
}

.font-secundary-color{
    color: #ff6600;
}

.font-terciary-color{
    color: #ff3300;
}

.font-dark-color{
    color: #2E2E2E;
}

.font-dark-elegant-color{
    color: #212121;
}

.font-cinza-claro{
    color: #7a7a7a;
}

.font-whitesmoke{
    color: whitesmoke;
}

/* Tema Dark */
.bg-elegant-color-dark{
    background-color: #212121;
}

.tituloElegantColor{
   color: #2E2E2E ; 
}

.subTituloStylishColor{
    color: whitesmoke;
}

/* Tema Impulsi */
.bg-black-color{
    background-color: rgba(8, 3, 3, 0.1);
}

.titulo-red-color{
    background-color: #ff3300;
}

.subtitul-laranja-color{
    background-color: #ff6600;
}

/* Tema oceano */
.bg-unique-color-dark{
    background-color: #1c2331;
}

.titulo-unique-color{
    color: #3f729b;
}

/* Tema exército */
.bg-special-color-dark{
    background-color: #263238;
}

.bg-cinza-claro-color{
    background-color: black;
}

.titulo-special-color{
    background-color: #7f7f7f;
}

/* intro */
.carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #090909 2px 2px;
}

.carousel-caption p{
    font-size: 1em;
    text-shadow: #090909 2px 2px;
}

.carousel-indicators{
    background-color: black;
    opacity: 0.8;
    text-align: center;   
}

.carousel-control-prev-icon span{
    color: #222;
    font-size: 3em;
}


