/* reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    padding-top: 80px;
    font-family: "Open Sans", sans-serif;
}
ul, ol, li{
    list-style: none;
}

a, u {
    text-decoration: none  !important;
    list-style: disc;
}

/*temas de cores*/
/* Cor de fundo */

/* Tema Impulsi */
.bg-black-color{
    background-color: #090909;
}

.titulo-red-color{
    background-color: #ff3300;
}


.subtitulo-laranja-color{
    background-color: #ff6600;
}

/* fonte */
.font-primary{
    font-family: 'Archivo Black';
}

.fonte-primary-color{
    color: #090909;
}

.font-secundary-color{
    color: #ff6600;
}

.font-terciary-color{
    color: #ff3300;
}

.font-whitesmoke{
    color: whitesmoke;
}




/* Login */
.bg-img-login{ 
    width: 100vw;
    height: 100vh;
    background: url("img/login_fundo.png");
    background-size: cover;
    overflow-x: hidden;
}

.bg-glass{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
}

/* Settings */
/* section blue */
.section-color-blue{
    background-color: #35475C;
}

/* dark */
.section-dark{
    background-color: #222831;
    margin: auto;
}

.titulo-light{
    font-family:'Archivo Black';
    color:white;
    border-bottom: 1px solid #a9a9a9;
    padding-top: 0.5em;
}

.subtitulo-light{
    font-family: 'Yantramanav';
    letter-spacing: 0.65em;
    color: #a9a9a9;
    padding-left: 0.2em;
}

.corpo-texto-light{
    font-family:'Open Sans' ;
    font-size: 32px;
    color: whitesmoke;
    text-decoration: none;
}

/* light */
.section-light{
    background-color:whitesmoke;
    margin: auto;
}

.titulo-dark{
    font-family:'Archivo Black';
    color:#090909;
    border-bottom: 1px solid #a9a9a9;
    padding-top: 0.5em;
}

.subtitulo-dark{
    font-family: 'Yantramanav';
    letter-spacing: 0.65em;
    color: #a9a9a9;
    padding-left: 0.2em;
}

.corpo-texto-dark{
    font-family:'Open Sans' ;
    font-size: 32px;
    color: #090909;
    text-decoration: none;
}

/* btn-action */
.btn-action{
    background-color: #ff6600 !important;
}

/* Intro */
.carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #090909 2px 2px;
}

.carousel-caption p{
    font-size: 1em;
    text-shadow: #090909 2px 2px;
}

.carousel-indicators{
    background-color: black;
    opacity: 0.8;
    text-align: center;   
}

/* btns prev, next */
.bi-chevron-compact-left, .bi-chevron-compact-right{
    color:whitesmoke;
    font-size: 2em;
    text-shadow:#090909 5px 5px;
} 

/* Seção Material */
.maincontainer{
    position:relative;
    width: 6em !important;
    height: 7em ;
    border-radius: 20px;
    cursor: pointer;
   
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
    
}

.thecard:hover{
    transform: rotateX(180deg);
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    background-color: whitesmoke;
    color: #090909;
    text-align: center;
    padding: 10px;
    /* -webkit-box-shadow: 9px 7px 5px #a9a9a9;
    -moz-box-shadow:    9px 7px 5px #a9a9a9;
    box-shadow:         9px 7px 5px #a9a9a9; */
}

.theback{
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    background-color: yellow;
    color: #333;
    transform: rotateX(180deg);
    /* -webkit-box-shadow: 9px 7px 5px #a9a9a9;
    -moz-box-shadow:    9px 7px 5px #a9a9a9;
    box-shadow:         9px 7px 5px #a9a9a9; */
} 

.imgMat{
    width: 100px;
    height: 100px;
}