/* reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    padding-top: 80px;
    font-family: "Open Sans", sans-serif;
}
ul, ol, li{
    list-style: none;
}

a, u {
    text-decoration: none  !important;
    list-style: disc;
}

/*temas de cores*/
/* Cor de fundo */

/* Tema Impulsi */
.bg-black-color{
    background-color: #090909;
}

.titulo-red-color{
    background-color: #ff3300;
}


.subtitulo-laranja-color{
    background-color: #ff6600;
}

/* fonte */
.font-primary{
    font-family: 'Archivo Black';
}

.fonte-primary-color{
    color: #090909;
}

.font-secundary-color{
    color: #ff6600;
}

.font-terciary-color{
    color: #ff3300;
}

.font-whitesmoke{
    color: whitesmoke;
}


/* intro */
.carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #090909 2px 2px;
}

.carousel-caption p{
    font-size: 1em;
    text-shadow: #090909 2px 2px;
}

.carousel-indicators{
    background-color: black;
    opacity: 0.8;
    text-align: center;   
}

.carousel-control-prev-icon span{
    color: #222;
    font-size: 3em;
}

/* Imagem de fundo do login */
.bg-img-login{ 
    width: 100vw;
    height: 100vh;
    background: url("img/login_fundo.png");
    background-size: cover;
    overflow-x: hidden;
}

.bg-glass{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
}


/* Home- Método */
.metodo{
    width: 100vw;
    height: 100vh;
    background-size: contain;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

/* Home- Objetivos */
.objetivos{
    width: 100vw;
    height: 120vh;
    /* background-image: url("img/Objetivos.png");
    background-repeat: no-repeat; */
}

.img-wrapper{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    border:border-box;
}

/* Settings */
/* dark */
.section-dark{
    background-color: #222831;
    font-size: 0;
}

.titulo-light{
    font-family:'Archivo Black';
    color:white;
    border-bottom: 1px solid #a9a9a9;
    padding-top: 0.5em;
}

.subtitulo-light{
    font-family: 'Yantramanav';
    letter-spacing: 0.65em;
    color: #a9a9a9;
    padding-left: 0.2em;
}

.corpo-texto-light{
    font-family:'Open Sans' ;
    font-size: 32px;
    color: whitesmoke;
    text-decoration: none;
}

/* light */
.section-light{
    background-color:whitesmoke;
}

.titulo-dark{
    font-family:'Archivo Black';
    color:#090909;
    border-bottom: 1px solid #a9a9a9;
    padding-top: 0.5em;
}

.subtitulo-dark{
    font-family: 'Yantramanav';
    letter-spacing: 0.65em;
    color: #a9a9a9;
    padding-left: 0.2em;
}

.corpo-texto-dark{
    font-family:'Open Sans' ;
    font-size: 32px;
    color: #090909;
    text-decoration: none;
}

/* btn-action */
.btn-action{
    background-color: #ff6600 !important;
}